/* Strands brand fonts — the real licensed faces from the brand pack.
     - Aquilla  → the high-contrast display serif of the STRANDS logotype.
                  Self-hosted (not on Google Fonts). Latin only; Arabic headings
                  fall back to Cairo via the [lang="ar"] token swap.
     - Cairo    → the body + UI sans. One family covers Latin, Arabic, and
                  Arabic-Indic digits, so it replaces the old Latin/Arabic split.
     - Caveat   → hand annotations over photography only — never UI text.
   NOTE: @import must precede @font-face, so Cairo/Caveat load first. */
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600;700&family=Caveat:wght@500;600&display=swap");

@font-face{
  font-family:"Aquilla";
  src:url("../fonts/Aquilla.woff2") format("woff2"),
      url("../fonts/Aquilla.otf") format("opentype");
  font-weight:400;
  font-style:normal;
  font-display:swap;
}
